{$LANDING_DOMAIN} {
  encode gzip zstd
  reverse_proxy landing:80
}

{$ADMIN_DOMAIN} {
  encode gzip zstd
  reverse_proxy admin:3000
}

{$API_DOMAIN} {
  encode gzip zstd
  reverse_proxy backend:3000
}