@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	direction: rtl;
	text-align: right;
}

input,
textarea {
	direction: rtl;
	text-align: right;
}

input::placeholder,
textarea::placeholder {
	text-align: right;
}
